<div layout="column" layout-align="start center">
    <md-input-container>
        <label ng-bind="label"></label>
        <input type="month"
        ng-model="seikyo.month">
    </md-input-container>
    <div flex layout="row" layout-align="center end">
        <md-button
            ng-click="$modal.dismiss()">
            Cancelar
        </md-button>
        <md-button class="md-primary md-raised"
            ng-click="$modal.accept(seikyo)">
            Ok
        </md-button>
    </div>
</div>
